@model IEnumerable<BookTrader.Models.Condiciones>

@{
    bool esDropdown = (bool)(ViewData["Dropdown"] ?? false);
    int selectedId = (int)(ViewData["SelectedId"] ?? 0);
}

@if (esDropdown)
{
    <ul class="dropdown-menu">
        @foreach (var c in Model)
        {
            <li>
                <a class="dropdown-item" href="#"
                   onclick="filtrarCategoria('@c.Id')">
                    @c.Nombre
                </a>
            </li>
        }
    </ul>
}
else
{
    @foreach (var c in Model)
    {
        if (c.Id == selectedId)
        {
            <option value="@c.Id" selected="selected">@c.Nombre</option>
        }
        else
        {
            <option value="@c.Id">@c.Nombre</option>
        }
    }
}
