@model IEnumerable<BookTrader.Models.Libros>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BookTrader</h1>
</div>
    

<div class="row">
    @foreach (var libro in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="@libro.ImagenUrl" class="card-img-top" alt="@libro.Nombre">
                <div class="card-body">
                    <h5 class="card-title">@libro.Nombre</h5>
                    <p class="card-text">@libro.Autor</p>
                    <p class="card-text"><strong>Editorial:</strong> @libro.Editorial</p>
                    <p class="card-text"><strong>Precio:</strong> $@libro.Precio</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Categoría:</strong> @libro.Categoria?.Nombre</li>
                    <li class="list-group-item"><strong>Estado:</strong> @libro.Condicion?.Nombre</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>
        </div>
    }
</div>