@model IEnumerable<BookTrader.Models.IdiomasEntity>


@{
    var esDropdown = ViewData["Dropdown"] as bool? ?? false;
    int selectedId = 0;
    if (ViewData["selectedId"] != null)
    {
        selectedId = Convert.ToInt32(ViewData["selectedId"]);
    }

}

@if (esDropdown)
{
    <ul class="dropdown-menu">
        @foreach (var idioma in Model)
        {
            <li>
                <a class="dropdown-item" href="#" onclick="filtrarCategoria('@idioma.Id')">
                    @idioma.Nombre
                </a>
            </li>
        }
    </ul>
}
else
{
    @foreach (var idioma in Model)
    {
        if (idioma.Id == selectedId)
        {
            <option value="@idioma.Id" selected="selected">@idioma.Nombre</option>
        }
        else
        {
            <option value="@idioma.Id">@idioma.Nombre</option>
        }
    }
}

@* <ul class="dropdown-menu">
    @foreach (var categoria in Model)
    {
        <li>
            <a class="dropdown-item" href="#" onclick="filtrarCategoria('@categoria.Id')">
                @categoria.Nombre
            </a>
        </li>
    }
</ul>


 *@