@model IEnumerable<BookTrader.Models.Categorias>


@{
    var esDropdown = ViewData["Dropdown"] as bool? ?? false;
}

@if (esDropdown)
{
    <ul class="dropdown-menu">
        @foreach (var categoria in Model)
        {
            <li>
                <a class="dropdown-item" href="#" onclick="filtrarCategoria('@categoria.Id')">
                    @categoria.Nombre
                </a>
            </li>
        }
    </ul>
}
else
{
    @foreach (var categoria in Model)
    {
        <option value="@categoria.Id">@categoria.Nombre</option>
    }
}

@* <ul class="dropdown-menu">
    @foreach (var categoria in Model)
    {
        <li>
            <a class="dropdown-item" href="#" onclick="filtrarCategoria('@categoria.Id')">
                @categoria.Nombre
            </a>
        </li>
    }
</ul>


 *@