@model IEnumerable<BookTrader.Models.FormatoEntity>


@{
    var esDropdown = ViewData["Dropdown"] as bool? ?? false;
    int selectedId = 0;
    if (ViewData["selectedId"] != null)
    {
        selectedId = Convert.ToInt32(ViewData["selectedId"]);
    }
}

@if (esDropdown)
{
    <ul class="dropdown-menu">
        @foreach (var formato in Model)
        {
            <li>
                <a class="dropdown-item" href="#" onclick="filtrarCategoria('@formato.Id')">
                    @formato.Nombre
                </a>
            </li>
        }
    </ul>
}
else
{
    @foreach (var formato in Model)
    {
        if (formato.Id == selectedId)
        {
            <option value="@formato.Id" selected="selected">@formato.Nombre</option>
        }
        else
        {
            <option value="@formato.Id">@formato.Nombre</option>
        }
    }
}
